html {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
    //font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

body {
    margin: 0;
}

/* Flex */

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-flow: wrap;
}

/* Header */

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    font-weight: bold;
    border-bottom: solid 1px;
    padding-left: 10px;
    height: 69px;
}

.logo {
    flex: 0 0 157px;
}

.logo img {
    height: 50px;
}


header nav {
    flex: 0 1 400px;
}

header nav a {
    font-size: 14px;
}


/* Main */

main {
    padding-top: 70px;
}

section {
    
}

.mission-section {
    width: 1200px;
    height: 700px;
    margin: auto;
    background-image: URL("../images/img-mission-background.jpg");
    background-size: cover;
}

.mission-section h2, .mission-section h4 {
    margin: 0;
    height: 40px;
    padding-top: 10px;
}

/* Media Queries */

@media only screen and (min-width: 385px) {

    header nav a {
	font-size: 22px;
    }

}
