*, *:before, *:after {
    line-height: 1.25;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

.inside {
    max-width: 1500px;
    margin: auto;
}

.show {
    display: block;
}

h2 {
    display: none;
}

main {
    padding-top: 4rem;
}

/* Flexbox Styles */

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

/* Header */

header {
    height: 4rem;
    position: fixed;
    z-index: 5;
    width: 100%;
}

.mobile-menu {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: darkred;
    box-shadow: 0px 2px 5px black;
}

.desktop-menu {
    display: none;
}

header nav {
    padding: 0 1.5rem;
}

header nav img {
    -webkit-filter: invert(1) drop-shadow(2px 2px 2px black);
    filter: invert(1) drop-shadow(2px 2px 2px black);
}

header nav a {
    transition: text-shadow 150ms linear;
}

header nav a:hover {
    text-shadow: 0px 0px 5px rgba(256, 256, 256, .5);
}

/* Banner */

.banner {
    background: lightgrey;
}

.banner img {
    height: 13.5rem;
    max-width: 100%;
}

.banner figure {
    flex-direction: column;
}

.banner figcaption {
    padding: 2rem 1rem;
}

.banner h3 {
    padding-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.banner p {
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.banner-button {
    display: block;
    background: rgba(86, 86, 86, 1);
    padding: .5rem 0;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* Info Section */

.info {
    margin: 1rem 1rem 2rem 1rem;
    flex-direction: column;
}

.info-feature {
    display: none;
}

img.desktop {
    display: none;
}

.info-items {
    line-height: 1.75;
}

.info-items h3 {
    margin-top: .5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.info-items p {
    font-size: smaller;
}

.info-items a {
    font-size: .75rem;
    color: darkred;
    text-decoration: none;
}

.info-items figcaption {
    padding: 0 1rem;
}

.info-item {
    flex-direction: column;
    margin-bottom: 4rem;
}

.info-item:last-child {
    margin-bottom: 0;
}

/* Start Learning - Academics */

.start-learning {
    padding: 2rem 1rem;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
}

.courses {
    flex-direction: column;
}

h2.show {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}

.course img,
.course h4,
.course p {
    display: none;
}

.course h3 {
    padding: 1rem 1rem 1.5rem 1rem;
    background: lightgrey;
    margin-top: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Thesis Exhibits */

.thesis {
    flex-direction: column;
}

.thesis h2 {
    padding: 1rem 0 1rem 0;
}

.thesis-feature video {
    width: 100%;
    margin-bottom: 1.5rem;
}

.thesis-feature figcaption {
    display: none;
}

.thesis-items {
    display: none;
}

/* Footer */

footer {
    padding: 1rem;
    font-size: smaller;
    justify-content: center;
}

footer nav {
    display: none;
}


/* Media Queries */

@media only screen and (min-width: 250px) {

    .banner img {
	height: auto;
    }

    .info-items figure img {
	height: 150px;
    }
}

@media only screen and (min-width: 450px) {
    .info-items figure img {
	height: auto;
    }

    footer {
	justify-content: inherit;
    }
}

@media only screen and (min-width: 640px) {

    /* Header */

    .mobile-menu {
	display: none;
    }

    .logo {
	align-items: center;
    }

    .logo a {
	text-transform: uppercase;
    }

    .logo span {
	color: gray;
    }

    .desktop-menu {
	display: flex;
	background: darkred;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin: 0 auto;
	box-shadow: 0px 2px 5px black;
    }

    .desktop-menu a {
	text-decoration: none;
	color: white;
	text-shadow: 0px 0px 5px black;
    }

    /* Only add padding to last three desktop menu items */
    .desktop-menu-items a:nth-child(1n + 2) {
	padding-left: 1rem;
    }

    /* Banner */

    .banner {
	padding: 2rem 1.5rem;
    }

    .banner figure {
	flex-direction: row;
    }

    .banner figcaption {
	padding: .5rem 0 0 1rem;
    }

    .banner img {
	max-height: 23.5rem;;
	width: 60%;
    }

    .banner-button {
	transition: background 250ms linear, color 250ms linear;
    }

    .banner-button:hover {
	background: grey;
	color: darkred;
    }

    /* Info */

    .info {
	margin: 2rem 1.5rem;
	flex-direction: row;
    }

    .info-feature {
	display: block;
	padding-right: 1.5rem;
	max-width: 45%;
    }

    .info-feature img {
	max-width: 100%;
    }

    .info-feature h3 {
	font-size: 2rem;
	font-weight: bold;
	padding: 2rem 0 1.5rem 0;
    }

    .info-feature p,
    .info-feature footer {
	display: none;
    }

    .info-items {
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
    }

    .info-items figure img {
	height: 100px;
    }

    .info-items figcaption {
	padding: .5rem;
    }
    
    .info-items h3 {
	margin-top: 0;
    }

    .info-items .info-item:last-child {
	background: lightgrey;
    }

    .info-item {
	max-width: 43%;
	padding: 0 .5rem 0 .5rem;
	margin-bottom: 0;
    }
    
    .info-item img {
	max-width: 100%;
	height: 12rem;;
    }

    .info-item p {
	display: none;
    }
    
    .info-item:last-child {
	flex-direction: row;
	align-items: center;
	max-width: 100%;
	padding: .5rem;
    }

    .info-item:last-child figcaption {
	padding-left: 1rem;
	margin: 0;
    }

    .info-item:last-child img {
	max-width: 45%;
    }

    /* Start Learning - Courses */

    .start-learning {
	background: lightgrey;
    }

    .courses {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
    }

    .course {
	width: 27%;
	background: white;
	margin: .5rem;
    }

    .course img {
	display: block;
	width: 100%;
    }

    .course figcaption {
	padding: .5rem;
    }

    .course h3 {
	font-size: .75rem;
	background: white;
	padding: 0 0 .5rem 0;
    }

    /* Thesis Exhibits */

    .thesis {
	margin: 0 2rem 2rem 2rem;
    }
    
    .thesis-feature figcaption {
	display: block;
    }

    .thesis h3 {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: .5rem;
    }

    .thesis p {
	color: grey;
    }

    /* Footer */ 

    footer {
	justify-content: space-between;
	padding: 2rem;
	font-size: smaller;
	border-top: solid lightgrey 1px;
    }

    footer nav {
	display: flex;
	justify-content: space-between;
	width: 6.25rem;
    }

    footer nav a {
	text-decoration: none;
	color: darkred;
    }
}

@media only screen and (min-width: 807px) {
    .course h3 {
	font-size: 1.15rem;
    }
}

@media only screen and (min-width: 900px) {

    /* Info Section */

    img.mobile {
	display: none;
    }

    img.desktop {
	display: block;
    }
    
    .info-feature {
	max-width: 60%;
    }

    .info-feature p {
	display: block;
	font-size: 1rem;
    }

    .info-feature footer {
	display: block;
	padding: 2rem 0 0 0;
	font-size: .75rem;
    }

    .info-items {
	flex-direction: column;
	flex-wrap: nowrap;
    }

    .info-items figcaption {
	padding: 0;
	margin: 0;
    }
    
    .info-items figure img {
	height: auto;
	max-width: 35%;
    }

    .info-item {
	flex-direction: row;
	align-items: center;
	max-width: 100%;
    }

    .info-item:first-child {
	padding: 0 1rem 1rem 1rem;
    }

    .info-item:nth-child(1n + 2) {
	padding: 1rem;
    }

    .info-item img {
	max-width: 100%;
	height: auto;
    }

    .info-item:last-child img {
	max-width: 35%;
    }
    
    .info-item figcaption {
	padding-left: 1rem;
    }

    .info-item p {
	display: block;
    }


    /* Start Learning - Courses */

    .course {
	margin: 1rem;
    }

    .course h3 {
	font-size: 1.15rem;
    }
    
    .course h4 {
	display: block;
	text-transform: uppercase;
	padding-bottom: .5rem;
	font-size: .75rem;
	color: grey;
    }

    .course p {
	display: block;
	font-size: .75rem;
	color: grey;
    }

    /* Thesis Exhibits */

    .thesis {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
    }

    .thesis h2 {
	width: 100%;
    }

    .thesis figcaption {
	padding-right: 2rem;
    }
    
    .thesis-feature {
	width: 60%;
	margin-right: 2rem;
    }

    .thesis-items {
	display: flex;
	width: 36%;
    }

    .thesis-items img {
	padding: 1rem;
	width: 40%;
    }

    .thesis-items p {
	display: none;
    }
    
    .thesis-item:first-child {
	background: lightgrey;
    }

    .thesis-item {
	align-items: center;
    }
}

@media only screen and (min-width: 1024px) {

    /* Header Nav */

    header nav {
	padding: 0;
    }

    header nav a:last-child {
	padding-right: 1.5rem;
    }

    header nav a:first-child {
	padding-left: 1.5rem;
    }

    /* Banner */

    .banner figure {
	justify-content: space-around;
    }

    .banner figcaption {
	align-self: center;
    }

    .banner img {
	max-width: 550px;
    }

    /* Thesis Exhibits */

    .thesis-items p {
	display: block;
    }
}

@media only screen and (min-width: 1500px) {
    .info,
    .thesis {
	margin: 2rem 0;
    }

    footer {
	padding: 2rem 0;
    }
}
