*, *:before, *:after {
    line-height: 1.25;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

.inside {
    max-width: 1500px;
    margin: auto;
}

.show {
    display: block;
}

/* Temp */
.border {
    border: 1px solid black;
}

h2 {
    display: none;
}

/* General Nav */

nav {
    padding: 0 1.5rem;
}

@media only screen and (min-width: 1024px) {

    nav {
	padding: 0;
    }

    nav a:last-child {
	padding-right: 1.5rem;
    }

    nav a:first-child {
	padding-left: 1.5rem;
    }
}

/* Flexbox Styles */

.container {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

/* Header */

header {
    height: 4rem;
    position: fixed;
    z-index: 5;
    width: 100%;
}

.mobile-menu {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: darkred;
}

.desktop-menu {
    display: none;
}

@media only screen and (min-width: 580px) {
    .mobile-menu {
	display: none;
    }

    .logo {
	align-items: center;
    }

    .logo a {
	text-transform: uppercase;
    }

    .logo span {
	color: gray;
    }

    .desktop-menu {
	display: flex;
	background: darkred;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	margin: 0 auto;
    }

    .desktop-menu a {
	text-decoration: none;
	color: white;
    }

    /* Only add padding to last three desktop menu items */
    .desktop-menu-items a:nth-child(1n + 2) {
	padding-left: 1rem;
    }

}

/* Main */

main {
    padding-top: 4rem;
}

/* Banner */

.banner {
    background: lightgrey;
}

.banner img {
    height: 13.5rem;
    max-width: 100%;
}

.banner figure {
    flex-direction: column;
}

.banner figcaption {
    padding: 2rem 1rem;
}

.banner h3 {
    padding-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.banner p {
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.banner-button {
    display: block;
    background: rgba(86, 86, 86, 1);
    padding: .5rem 0;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

@media only screen and (min-width: 249px) {
    .banner img {
	height: auto;
    }
}

@media only screen and (min-width: 580px) {
    .banner {
	padding: 2rem 1.5rem;
    }

    .banner figure {
	flex-direction: row;
    }

    .banner img {
	max-height: 23.5rem;;
	width: 60%;
    }

    .banner figcaption {
	padding-left: 1.5rem;
    }

    .banner-button {
	transition: background 250ms linear, color 250ms linear;
    }
    
    .banner-button:hover {
	background: grey;
	color: darkred;
    }
}

@media only screen and (min-width: 1024px) {

    .banner figure {
	justify-content: space-around;
    }

    .banner figcaption {
	align-self: center;
    }

    .banner img {
	max-width: 550px;
    }
}

/* Info Section */

.info {
    margin: 1rem 1rem 2rem 1rem;
    flex-direction: column;
}

.info-feature {
    display: none;
}

img.desktop {
    display: none;
}

.info-items {
    line-height: 1.75;
}

.info-items h3 {
    margin-top: .5rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.info-items p {
    font-size: smaller;
}

.info-items a {
    font-size: .75rem;
    color: darkred;
    text-decoration: none;
}

.info-items figcaption {
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.info-item {
    flex-direction: column;
}

@media only screen and (min-width: 250px) {
    .info-items figure img {
	height: 150px;
    }
}

@media only screen and (min-width: 450px) {
    .info-items figure img {
	height: auto;
    }
}

@media only screen and (min-width: 580px) {

    .info {
	margin: 2rem 1.5rem;
	flex-direction: row;
    }

    .info-feature {
	display: block;
	padding-right: 1.5rem;
	max-width: 60%;
    }

    .info-feature img {
	max-width: 100%;
    }

    .info-feature h3 {
	font-size: 2rem;
	font-weight: bold;
	padding: 2rem 0 1.5rem 0;
    }

    .info-feature p {
	font-size: 1rem;
    }

    .info-feature footer {
	padding-top: 2rem;
	font-size: .75rem;
    }

    .info-items {
	justify-content: space-between;
    }

    .info-items figure img {
	height: 150px;
    }

    .info-items figcaption {
	padding: 0;
    }
    
    .info-items h3 {
	margin-top: 0;
    }

    .info-items .info-item:nth-child(3n+0) {
	background: lightgrey;
    }

    .info-item:first-child {
	padding: 0 1rem 1rem 1rem;
    }

    .info-item:nth-child(1n + 2) {
	padding: 1rem;
    }
    
    .info-item img {
	max-width: 100%;
	height: 12rem;;
    }

}

@media only screen and (min-width: 900px) {

    img.mobile {
	display: none;
    }

    img.desktop {
	display: block;
    }

    .info-items figure img {
	height: auto;
    }
    
    .info-item {
	flex-direction: row;
	align-items: center;
    }

    .info-item img {
	max-width: 35%;
	height: auto;
    }

    .info-item figcaption {
	padding-left: 1rem;
    }
}

@media only screen and (min-width: 1500px) {
    .info {
	margin: 2rem 0;
    }
}

/* Start Learning - Academics */

.start-learning {
    padding: 2rem 1rem;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
}

h2.show {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}

.course img,
.course h4,
.course p {
    display: none;
}

.course h3 {
    padding: 1rem 1rem 1.5rem 1rem;
    background: lightgrey;
    margin-top: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Thesis Exhibits */

.thesis h2 {
    padding: 1rem 0 1rem 0;
}

.thesis-feature video {
    width: 100%;
    margin-bottom: 1.5rem;
}

.thesis-feature figcaption {
    display: none;
}

.thesis-items {
    display: none;
}

/* Footer */

footer {
    padding: 1rem;
    font-size: smaller;
}

footer nav {
    display: none;
}
