html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: bold;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h2, h3 {
    font-weight: bold;
    width: 100%;
}

header, .banner, h2, h3, .logo, nav a, footer {
    background-color: black;
    color: white;
}

header h1, header h2, header h3 {
    text-transform: uppercase;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    height: 2.32rem;
}

.logo img {
    height: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.logo h1 {
    margin: 0.66rem 0;
}

/* Banner */

.banner {
    background-image: URL("../images/moto.jpeg");
    background-size: cover;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.banner-header {
    width: 100%;
}

.banner h2 {
    padding-top: 1rem;
    padding-left: 2rem;
    font-size: 0.77rem;
}

.banner h3 {
    padding-top: .48rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    margin-bottom: .25rem;
}

/* Nav Menu */

nav, nav .menu, nav a {
    background-color: firebrick;
}

nav {
    padding: 0.75rem 0;
}

nav .menu {
    text-align: center;
}

nav .menu-items {
    display: none;
}

nav a {
    text-decoration: none;
}

/* Main */

main {
    margin-top: 3rem;
}

figure {
    width: 90%;
    margin: 0 auto;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

figcaption {
    padding: 0.5rem 0;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
}

figure img {
    margin: 2rem auto;
    height: 9rem;
}

.watch, .glasses {
    display: none;
}

/* Contact */

.contact {
    width: 90%;
    padding-top: 3rem;
    margin: 0 auto;
}

address h3, .hours h3 {
    padding: 1rem 0 1rem 2rem;
}

address p {
    margin-bottom: 0.5rem;
}

/* Footer */

footer {
    margin-top: 3rem;
    padding: 2rem 0;
    text-align: center;
}

/* Media Queries */


/* Tablet (Width > 470px) */
@media only screen and (min-width: 470px) {

    .banner {
	height: 25rem;
    }
    
    .banner h2 {
	font-size: 1rem;
	padding-top: 2rem;
    }

    .banner h3 {
	font-size: 2rem;
    }

    .banner h2, .banner h3 {
	padding-left: 3rem;
	width: 23rem;
    }

    .banner {
	justify-content: center;
    }

    .watch {
	display: flex;
    }

    .product-grid {
	display: flex;
	align-items: center;
	justify-content: space-between;
    }

    figure {
	margin: 0;
	width: 47%;
    }

    .contact {
	display: flex;
	justify-content: space-between;
	width: 100%;
    }

    address, .hours {
	width: 35%;
    }

    footer {
	text-align: left;
    }
}


/* Desktop (Width > 1024px) */
@media only screen and (min-width: 1024px) {
    .logo, .banner-header, .menu-items, .product-grid, .contact, footer p {
	max-width: 960px;
	margin: 0 auto;
    }

    nav .menu {
	display: none;
    }

    nav .menu-items {
	display: flex;
	justify-content: space-between;
    }
    
    .glasses {
	display: flex;
    }

    .glasses img {
	padding: 40px 0;
    }
    
    figure {
	width: 30%;
    }
}
