html {
    font-family: Helvetica;
    text-align: center;
    background: url("../images/the-flatiron-building.png") center fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

p {
    font-size: 14px;
}

/* Styles for Header */

header {
    padding-bottom: 10px;
}

header h1 {
    font-size: 70px;
    font-weight: bold;
}

header nav {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

header a {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-left: 20px;
}

header a:hover {
    color: lightgray;
}

/* Styles for Main*/

main h2 {
    font-size: 32px;
}

main h3 {
    font-size: 23px;
}

section {
    padding: 30px 0;
}

.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-process-item {
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
    padding: 10px;    
}

.flex-process-item img {
    height: 75px;
}

.divider {
    padding: 10px 0;
}

/* Styles for Footer */

footer {
    background-color: dimgray;
    text-align: left;
    font-size: 11px;
    padding: 5px;
}

footer nav {
    float: right;
}

/* Styles for multiple sections */

.section-foreground {
    color: white;
}

.section-background {
    background-color: white;
}

.text-border {
    text-shadow: 1px 1px 6px darkslategrey;
}
