html {
    box-sizing: border-box;
    font-size: 18px;
    //line-height: 1.4;
    font-family: Helvetica;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    line-height: 1.4;
}

/* Header and Nav */

header {
    background: cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.logo img {
    padding-left: 2rem;
    height: 1rem;
}

.logo h1 {
    display: none;
}

.menu-items {
    display: none;
}

nav {
    padding: 1rem 0;
}

nav a {
    padding-right: 2rem;
}

.mobile-menu a,
.menu-items a {
    color: white;
    text-decoration: none;
}


/* Banner */

.banner {
    background-image: URL("../images/glasses-bg.png");
    background-size: cover;
    background-position: 20% -75px;
    background-repeat: no-repeat;
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 3rem;
}

.banner-header {
    background: white;
    width: 100%;
    margin-top: 9rem;
}

.banner h2 {
    padding: 1rem 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

/* Services */

.services {
    padding: 2.77rem 0 3.77rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.exams img {
    margin-bottom: 1.54rem;
    width: 3.5rem;
}

.fittings img,
.delivery img {
    margin: 1.54rem 0;
    width: 5rem;
}

figcaption {
    font-size: 0.77rem;
    max-width: 5rem;
}

/* Philosophy and Appointments */

section h2 {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem 0;
    font-weight: bold;
    background-color: cadetblue;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

section p {
    margin: 5%;
}

.philosophy {
    margin-bottom: 4rem;
}


/* footer */

footer {
    text-align: center;
    background: azure;
    width: 100%;
    padding: 4rem 0;
    margin-top: 5rem;
}

footer img {
    height: 1.5rem;
}

@media only screen and (min-width: 480px) {

    body {
	background: yellow;
    }

    .mobile-menu {
	display: none;
    }

    .menu-items {
	display: flex;
	justify-content: space-between;
    }

    .banner {
	justify-content: flex-end;
	height: 22rem;
    }

    .banner-header {
	margin-top: 13rem;
	//margin: 12rem 2rem 12rem 0;
	//width: auto;
    }

    .banner h2 {
	padding: 1rem 4rem;
	font-size: 1.33rem;
    }

    .services {
	flex-direction: row;
	justify-content: space-between;
	max-width: 25rem;
	margin: auto;
    }

    .services img {
	margin: 0 auto auto auto;
    }

    figure {
	height: 8rem;
	display: flex;
	flex-direction: column;
	//align-content: flex-start;
    }

    figcaption {
	height: 2rem;
    }

}

@media only screen and (min-width: 800px) {
    body {
	background: red;
    }

    .banner-header {
	margin: 7rem 2rem 7rem 0;
	width: auto;
    }
    
}

@media only screen and (min-width: 1024px) {
    body {
	background: blue;
    }
}
