html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: Helvetica;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    line-height: 1.4;
}

.site-container {
    max-width: 960px;
}

/* Header and Nav */

header {
    width: 100%;
    background-image: URL("../images/glasses-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    Background: cadetblue;
    margin: 0 auto;
    text-shadow: 1px 1px #9E9E9E;

}

.logo img {
    padding-left: 2rem;
    height: 1rem;
}

.logo h1 {
    display: none;
}

nav h2 {
    display: none;
}

.menu-items {
    display: none;
}

nav {
    padding: 1rem 0;
}

nav a {
    padding-right: 2rem;
}

.mobile-menu a,
.menu-items a {
    color: white;
    text-decoration: none;
}


/* Banner */

.banner {
    background: white;
    width: 100%;
    margin: 0 auto 1rem auto;
}

.banner h2 {
    display: none;
}

.banner p {
    padding: 1rem 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

/* Services */

.services h2 {
    display: none;
}

.services {
    padding: 3.77rem 0 3.77rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.exams img {
    margin-bottom: 1.54rem;
    width: 3.5rem;
}

.fittings img,
.delivery img {
    margin: 1.54rem 0;
    width: 5rem;
}

figcaption {
    font-size: 0.77rem;
    max-width: 5rem;
}

/* Philosophy and Appointments */

.info h2 {
    display: none;
}

.info-item h3 {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem 0;
    font-weight: bold;
    background-color: cadetblue;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.info-item p {
    margin: 5%;
}

.philosophy {
    margin-bottom: 4rem;
}


/* footer */

footer {
    text-align: center;
    background: azure;
    width: 100%;
    padding: 4rem 0;
    margin: 5rem auto auto auto;
}

footer img {
    height: 1.5rem;
}

footer p {
    display: none;
}

@media only screen and (min-width: 480px) {

    header {
	height: 22rem;
    }

    /* Tablet - Menu */
    .mobile-menu {
	display: none;
    }

    .menu-items {
	display: flex;
	justify-content: space-between;
    }

    /* Tablet - Banner */
    .banner p {
	padding: 1rem 4rem;
	font-size: 1.33rem;
    }

    /* Tablet - Services */
    .services {
	flex-direction: row;
	justify-content: space-between;
	max-width: 25rem;
	margin: auto;
    }

    .services img {
	margin: 0 auto auto auto;
    }

    figure {
	height: 8rem;
	display: flex;
	flex-direction: column;
    }

    figcaption {
	height: 2rem;
    }

    /* Tablet - Philosohpy and Appointments */
    .info {
	display: flex;
	justify-content: space-around;
	margin: auto;
    }

    .info-item {
	width: 35%;
    }

    .info-item p {
	margin: auto;
    }

    .info-item h3 {
	text-shadow: 1px 1px #9E9E9E;
	box-shadow: -1px 2px 2px #9E9E9E;
    }
    
    /* Tablet - Footer */
    footer {
	margin-top: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
    }

    footer img {
	margin-left: 4rem;
    }
    
    footer p {
	display: inline-block;
	margin-left: 1rem;
    }
}

@media only screen and (min-width: 600px) {
    
    .logo {
	display: flex;
    }
    
    .logo h1 {
	display: block;
	padding-left: 1rem;
	color: white;
    }

}

@media only screen and (min-width: 860px) {

    .logo-container {
	margin-top: 1rem;
    }

    .banner {
	display: flex;
	justify-content: flex-end;
	background: transparent;
    }

    .banner-container {
	background: white;
	position: relative;
	bottom: 7rem;
	right: 2rem;
    }

    .banner p {
	box-shadow: -1px 2px 2px #9E9E9E;
    }
}

@media only screen and (min-width: 961px) {
    .logo-container {
	box-shadow: -1px 2px 2px #9E9E9E;
    }
}

@media only screen and (min-width: 1048px) {

    header {
	height: 30rem;
    }
    
    .banner-container {
	width: auto;
	left: 2rem;
	bottom: 12rem;
    }

}

@media only screen and (min-width: 1372px) {
    
    .banner p {
	padding: 1.5rem 5rem;
	font-size: 2rem;
	line-height: 1.2;
    }

}

@media only screen and (min-width: 2000px) {

    header {
	background-position: -20%;
    }
}
