html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
    font-family: Georgia;
    font-size: 17px;
    color: black;
    border: solid yellow;
}

/* Flex Styles */

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

/* Header Styles */

header {
    position: fixed;
    left: -1px;
    top: -2px;
    z-index: 5;
    background: white;
    width: 100%;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 1px black;
    padding: 15px;
}

header h1 {
    color: aquamarine;
    font-size: 14px;
}

.logo {
    flex-basis: 150px;
}

nav {
    flex-basis: 300px;
}

nav a {
    color: black;
}


/* Main Styles */

main {
    padding-top: 85px;
    flex-flow: wrap;
}

.column1 {
    border: solid red;
    flex-basis: 630px;
    flex-shring: 3;
}

.column1-sub {
    border: solid green;
}

.column1-left, .column1-right {
    border: solid blue;
}

.column2 {
    border: solid black;
    flex-basis: 300px;
}

.column3 {
    border: solid black;
    flex-basis: 240px;
}

article {
    border: solid black;
}

.column3 img {
    border: solid purple;
}

.news-bites-section {
    border: solid gold;
}


/* Article Styles  */

.main-story {
    background-image: URL("../images/img-story-main.png");
    border: solid yellow;
}

.main-story h2 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
}
