html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Flex Styles */

.container {
    display: flex;
}

.column {
    flex-direction: column;
    padding: 0 10px;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

/* Header Styles */

header {
    position: fixed;
    left: -1px;
    top: -2px;
    z-index: 5;
    background: white;
    width: 100%;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border-bottom: solid 1px black;
    padding: 15px;
}

header h1 {
    color: aquamarine;
    font-size: 14px;
}

.logo {
    flex-basis: 150px;
}

nav {
    flex-basis: 300px;
}

nav a {
    color: black;
}


/* Main Styles */

main {
    padding-top: 85px;
    flex-flow: wrap;
}

.column1 {
    flex-basis: 630px;
    flex-grow: 3;
}

.column1-sub {
    flex-flow: wrap;
}

.column1-left, .column1-right {
    width: 47%;
    align-items: center;
}

.column1-left p, .column1-right p {
    height: 150px;
}

.column2 {
    flex-basis: 300px;
}

.column3 {
    flex-basis: 240px;
}

article {
    margin-top: 30px;
}

.column3 img {
}

/* Article Styles  */

p {
    font-family: Georgia;
    font-size: 17px;
    color: black;
    text-align: justify;
}

h2 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.image {
    background-size: cover;
    padding: 50px;
    margin: 0;
    color: white;
    height: 300px;
    width: 300px;
}

.main-story {
    background-image: URL("../images/img-story-main.png");
    width: 100%;
    font-size: 40px;
}

.story1 {
    background-image: URL("../images/img-story-1.png");
}

.story2 {
    background-image: URL("../images/img-story-2.png");
}

.story3 {
    background-image: URL("../images/img-story-3.png");
}

.news-bite {
}

@media only screen and (max-width: 630px) {

    .column1-left, .column1-right {
	width: auto;
    }

    article {
	border-bottom: 1px solid gray;
    }

    .story1, .story2, .story3, .column2 {
	margin-bottom: 20px;
	width: 100%;
	flex-basis: auto;
    }

    .main-story {
	font-size: 30px;
	padding: 15px;
    }
    
}
